$colH1:#2b264d;
$colH2:#2b264d;
$colP:#000;
$colSp:#2b264d;
@mixin tamaño($margin,$padding){
    margin: $margin;
    padding: $padding;
}


body{
    @include tamaño(0,0);
    font-family: 'IBM Plex Sans Arabic', sans-serif ;
	background-image:url(../imagenes/p.png) ;
	background-repeat: repeat;
	background-size: auto;

    .estiloP{
        color: $colP;
        padding-left: 1.6rem;
        font-size: 1.6rem;
    }
    .estiloH1{
        color: $colH1;
        text-transform: uppercase;
        letter-spacing: 0.01rem;
        font-style:inherit;
        text-align: left;
        padding-left: 1rem;
        font-size: 5rem + 1; /*operaciones basicas*/
    }
    .estiloH2{
        color: $colH2;
        letter-spacing: 0.01rem;
        text-align: left;
        padding-left: 1.5rem;
        margin-top: 5%;
        font-size: 2.6rem;
    }
    .estiloSpan{
        letter-spacing: normal;
        color: $colSp;
        font-weight: bolder;
        font-size: 2rem;
    }
}