/*Media Query*/
@media (hover){
    .contenido{
        transform: translateY(65%);
        transition: transform 500ms ease;
	}
	.tarjeta:hover .contenido,
	.tarjeta:focus-within .contenido{
        transform: translateY(0);
	  transition-delay: 500ms;
	}
  
	.tarjeta:focus-within, .contenido{
	  transition-duration: 500ms;
	}
  
	.contenido > *:not(.contenido__titulo){
	  opacity: 0;
	  transition: opacity 500ms linear;
	}
  
	.tarjeta:hover .contenido > *:not(.contenido__titulo),
	.tarjeta:focus-within .contenido > *:not(.contenido__titulo){
	  opacity: 1;
	  transition-delay: 500ms;
	}
  
	.contenido__titulo::after{
	  transform: scaleX(0);
	}
}

@media(animacion_reducida: reduce){
	*,
	*::before,
	*::after{
	  animation-duration: 0.01ms
	  !important;
	  animation-iteration-count: 1
	  !important;
	  transition-duration: 0.01ms
	  !important;
	  scroll-behavior: auto
	  !important;
	  transition-delay: 0ms
	  !important;
	}
}

/*@media only screen and(max-width: 480px) {
	#grilla{
		grid-template-columns: auto;
    	grid-template-rows: auto;
	}
}*/

/*@media only screen and(max-width: 768px){
	#grilla{
	grid-template-columns: repeat(4,1fr);
	}
	header{
		flex-direction: column;
	}
}*/

/*@media only screen and(max-width: 1924px){
	#grilla{
		grid-template-columns: repeat(3,1fr);
	}
}*/


@mixin tablet {
    @media screen and (max-width:768px) {
    @content;       
    }    
}

@mixin celular {
    @media screen and (max-width:480px) {
    @content;       
    }    
}